@page "/divisions/{name}"
@using Application.Repositories;
@using Application.Repositories.DTOs.AdressPart
@using Application.Repositories.DTOs.GetPersonByPesel
@attribute [StreamRendering]
@rendermode InteractiveServer
@inject NavigationManager NavigationManager


@if (_list == null)
{ }
else
{

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ParentId </th>
                <th>SourceId</th>
                <th>Name</th>
                <th>Type</th>
                <th>Depth</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in _list)
            {
                <tr @onclick="() => RedirectToPersonPage(x.Id)">
                    <th>@x.Id</th>
                    <th>@x.ParentId </th>
                    <th>@x.SourceId</th>
                    <th>@x.Name</th>
                    <th>@x.Type</th>
                    <th>@x.Depth</th>
                </tr>
            }
        </tbody>
    </table>

}

@code {
    [Inject] public IUseCasesRepository Rep { get; set; }

    [Parameter]
    public string Name { get; set; } = null!;

    private List<AdministrativeDivisionDto>? _list;

    private string Pesel { get; set; } = string.Empty;


    protected override async Task OnInitializedAsync()
    {
        _list = await Rep.GetDivisionsAsync(Name);
        Console.WriteLine(_list.Count());
    }

    void RedirectToPersonPage(long pesel)
    {
        NavigationManager.NavigateTo($"/divisions/{pesel}/streets");
    }


}
